.git/
.gitignore
.idea/
.vscode/
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
mlruns/
mlartifacts/
*.DS_Store
*.log

results/
.venv/
models/
*.pkl

# UI and Build Caches
node_modules/
frontend/node_modules/
.npm/
backend/models/tracking/