# IDEs & OS
.idea/
.vscode/
.DS_Store

# Environments & Configurations
venv/
.env/
.venv/
.env

# Python & Caches
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# ML/Data Tracking
mlartifacts/
mlruns/
/mlruns/
models/
dataset/
results/
logs/
nltk_data/

# Extensions & Reports
*.log
*.pkl
*.joblib
*.csv
*.json
confusion_matrix*