# IDEs & OS
.idea/
.vscode/
.DS_Store

# Environments & Configurations
venv/
.env/
.venv/
.env

# Python & Caches
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# ML/Data Tracking
mlartifacts/
mlruns/
/mlruns/
backend/models/
backend/dataset/
results/
logs/
backend/nltk_data/

# Extensions & Reports
*.log
*.pkl
*.joblib
*.csv
confusion_matrix*
metrics.txt

# Frontend Build Artifacts
frontend/node_modules/
frontend/static/monitoring_report.html

# Other
PAT.txt
node_modules/